

/*767 to 320  */
@media (min-width: 320px) and (max-width : 767px) {

header .container {
    width: 100%;
}
.menu_list{
	display: none;
}
header .t1{
	display: none;
}
header .t2 {
    display: block;
    margin-right: 15px;
}
header .logo_block {
    margin-left: 0;
}
.req_demo a{
	margin: 0;
	padding: 10px;
}
.home-p1 .p1{
	display: none;
}
.home-p1 .p2 h3 {
    font-size: 20px;
    margin-top: 25px;
}
.home-p1 .p2 ul li {
    font-size: 15px;
}
.home-p2 a.p2-btn{
	display: none;
}
.home-p1 img {
    border-radius: 0;
}
.home-p2{
	margin-top: 20px;
}
.home-p2 .home-p21 {
    padding-left: 25px;
}
.home-p21 ul li a {
    padding: 12px 15px;
    margin-right: 10px;
}
.home-p21 .p21-l a.table{
	font-size: 15px;
    padding: 5px 25px;
}
.home-p21 .p21-l a.shr{
	font-size: 15px;
    padding: 5px 18px;
    margin-left: 18px;
}
.home-p1{
	padding-bottom: 0;
}
.part2 {
    padding: 0px 15px 20px;
}
.part2 h3 {
    font-size: 20px;
}
.part2 p{
	    width: 100%;
    line-height: 1.8;
}
footer {
    padding: 45px 0 0px;
}
.part3 h2 {
    font-size: 20px;
    margin-bottom: 45px;
}
.menu-block, .overlay{
	right: 0;
} 





}	
/*767 to 320  */


/*1023 to 768  */
@media (min-width: 768px) and (max-width : 1023px) {

header .container {
    width: 100%;
}
header .logo_block {
    margin-left: 0;
}
.menu_list{
	display: none;
}
header .toggle{
	display: none;
}
header .toggle1 {
    display: block;
    margin-right: 15px;
}
.home-p2 a.p2-btn{
	display: none;
}
.home-p2 .home-p21 {
    padding-left: 15px;
    margin-top: 45px;
}
.home-p1 img{
	width: 100%;
}
.home-p1 {
    padding-bottom: 0;
}
.part2 {
    padding: 20px 20px;
}
.part2 p{
	width: 100%;
}
.part3 h2{
	margin-bottom: 45px;
}
footer {
    padding: 50px 0 0px;
}


}	
/*1023 to 768  */


/*1300 to 1024  */
@media (min-width: 1024px) and (max-width : 1300px) {
header .logo_block {
    margin-left: 0px;
}
.menu_list li {
    padding: 0 10px;
}
.menu_list li a {
    font-size: 16px;
}
.req_demo a {
    font-size: 14px;
    padding: 10px 5px;
    margin: 0 15px;
}
.home-p2 .home-p21 {
    padding-left: 40px;
}
.part3 h2{
	margin-bottom: 45px;
}
footer {
    padding: 50px 0 0px;
}
footer h3 {
    font-size: 19px;
}

}

/*1300 to 1024  */












