@font-face {
font-family: 'Granstander Clean Regular';
font-style: normal;
font-weight: normal;
src: local('Granstander Clean Regular'), url('Grandstander-clean.woff') format('woff');
}


p{
	font-family: 'Montserrat';
}
h1, h2, h3, h4, h5, h6, li, a {
	font-family: 'Montserrat';
}

header .container{
  width: 95%;
}
header .row{
    display: -webkit-box;
    display: -moz-box;    
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;         
    justify-content: center;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

header{
  padding: 18px 0;
  border-bottom: 1px solid #ccc;
}
header .logo_block{
  margin-left: 30px;
}
header .t2{
  display: none;
}
.side-hb {
    cursor: pointer;
    /*width: 30px;*/
}
.side-hb span {
    height: 2px;
    width: 30px;
    background: #066585;
    display: block;
    transition: all .3s ease;
}

.side-hb:hover .b{
  margin-left: -8px;
  width: 30px;
}
.side-hb:hover span{
  background: #ff3a58;
}
.btn-close span.a{
  transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.btn-close span.b{
  display: none;
}
.btn-close span.c{
  transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.btn-close span+span{
  margin-top: 0!important;
}
.toggle{
  float: right;
}
.side-hb span + span {
    margin-top: 8px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.8);
    overflow: auto;
    z-index: 102;
}
.menu-block {
    position: fixed;
    width: 320px;
    max-width: 476px;
    overflow-y: auto;
    z-index: 9999999999;
    top: 0;
    bottom: 0;
    left: 0;
    transition: .3s all ease-in-out;
    background: #fff;
    border-bottom: 42px solid #f2f2f2;
}
.menu-block ul {
    background: #f2f2f2;
    overflow-y: auto;
    height: 85%;
    margin: 25% 0 0;
    text-align: left;
    padding-top: 30px;
}
.menu-block ul li {
    font-size: 18px;
    vertical-align: top;
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
    text-transform: capitalize;
}
.menu-block li a{
  color: #17244f;
}
.menu-block li a:hover,.menu-block li a:focus{
  color: #ff3a58;
  text-decoration: none;
  outline: none;
}
.btn-close {
    position: fixed!important;
    right: 30px;
    top: 30px;
    z-index: 999;
}
.side-hb li{
  color: #000;
  text-decoration: none;
}
.side-hb:hover li, .side-hb:hover, .side-hb:focus{
  text-decoration: none;
  color: #ff8800;
}
.btn-close li.hidden-xs{
  display: none;
}
.over-scoll{
  overflow: hidden;
}
.shrink {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background: #fff;
    padding: 25px 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .16);
    border: none;
}
.shrink .logo_block img{
  width: 130px;
}
.shrink .home_c_menu a{
  font-size: 16px;
}
.shrink .home_c_menu img{
  width: 30px;
}
.menu_list li a{
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  position: relative;
  font-family: 'Granstander Clean Regular';
}
.menu_list li:last-child{
  padding-right: 0;
}
.menu_list li a:before, .menu_list li a:after {
  content: '';
  position: absolute;
  transition: transform .5s ease;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
}
.menu_list li a {
  padding-top: 10px;
}
.menu_list li a:before {
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #ff3a58;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  opacity: 0;
}
.menu_list li a:hover:before {
  transform: scaleX(1);
   -webkit-transform: scaleX(1);
  opacity: 1;
}
.menu_list li a:hover, .menu_list li a:focus, .menu_list li a:active{
  text-decoration: none;
  color: #ff3a58;
  outline: none;
}
.menu_list li.active a{
  color: #ff3a58;
}
.menu_list{
  margin: 0;
}
.menu_list li{
  padding: 0; 
  padding: 0 18px;
}
.menu_block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: flex-end;
}
.req_demo a {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    border: 2px solid #333333;
    padding: 15px 5px;
    border-radius: 50px;
    margin: 0 50px;
    transition: 0.3s;
    text-decoration: none;
    font-family: 'Granstander Clean Regular';
}
.req_demo a span{
    padding: 10px;
    background-color: #bffe8a;
    border-radius: 50px;
    color: #a0e467;
    margin-right: 15px;
}


footer{
  padding: 65px 0 0px;
  background-color: #635d5d; 
}
footer h3,p,li,a{
  color: #fff;
}
footer h3{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 18px;
  position: relative;
  margin-top: 0;
}
footer .section_1 p{
  padding: 10px 0;
}
footer .section_1 li a{
  font-size: 14px;
  text-decoration: none;
}
footer .section_1 li a:hover{
  color: #ff3a58;
}
footer .section_1 li{
  font-size: 13px;
  line-height: 2.3;
  padding-bottom: 10px;
}
footer .section_1 li img{
  margin-right: 7px;
}
footer .section_2{
  text-align: center;
  padding: 20px 0px 5px;
  background-color: #5a5555;
  margin-top: 18px;
}
footer .block_1 li{
  width:85%;
}
footer .block_4 li a span{
  background-color: #fff;
  color: #635d5d;
  font-size: 20px;
  border-radius: 25px;
  padding:10px;
}

.home-p1{
  background-color: #fbfcf7;
  padding-bottom: 54px;
}
.home-p1 .p1{
  margin: 25px 0;
}
.home-p1 .p1 ul li {
    padding: 0;
    color: #adbabd;
    font-size: 14px;
    font-weight: 600;
}
.home-p1 .p1 ul li+li:before {
    padding: 0 5px;
    color: #adbabd;
    content: "/\00a0";
    font-size: 16px;
    font-weight: 600;
}
.home-p1 .p1 ul li a {
    font-size: 14px;
    font-weight: 600;
    color: #adbabd;
    position: relative;
    text-decoration: none;
}
.home-p1 .p2 h3{
  font-size: 35px;
  color: #333333;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}
.home-p1 .p2 ul{
  margin-bottom: 45px;
}
.home-p1 .p2 ul li{
  font-size: 18px;
  color: #333333;
}
.home-p1 img{
  border-radius: 15px;
  height: fit-content;
}
.home-p2 a.p2-btn{
    padding: 5px 25px;
    border-radius: 5px;
    background-color: #fdffd3;
    color: #333333;
    font-size: 25px;
    float: right;
    display: flex;
    line-height: normal;
    border: 2px solid #333333;
    text-decoration: none;
    margin-bottom: 36px;
}
.home-p2 a.p2-btn span{
  font-size: 45px;
  margin-right: 25px;
}
.home-p2 a span.rec{
  color: #333333;
  font-size: 14px;
  display: contents;
}
.home-p2 .home-p21{
  padding-left: 75px;
}
.home-p2 .home-p21 h5{
  font-size: 14px;
  color: #A9B7B9;
  margin-bottom: 20px;
}
.home-p2 .home-p21 p span{
  font-weight: 500;
}
.home-p2 .home-p21 p{
  font-size: 24px; 
  font-weight: 700;
  margin-bottom: 30px;
  color: #333333;
}
.home-p21 ul li{
  display: inline-grid;
}
.home-p21 ul li a{
    padding: 12px 20px;
    border: 2px solid #adbabd;
    border-radius: 25px;
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    margin-right: 25px;
}
.home-p21 ul li span{
  margin-top: 5px;
    font-size: 14px;
    color: #A9B7B9;
}
.home-p21 ul{
  margin-bottom: 30px;
}
.home-p21 a.cfee{
  background-color: #fff;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.home-p21 a.cfee del{
  color: #8bafb6;
  font-size: 15px;
    margin-right: 15px;
}
.home-p21 .p21-l{
  padding: 0;
  margin-top: 25px;
}
.home-p21 .p21-l a.table{
  background-color: #ff3a58;
  color:#fff;
  font-size: 18px;
  padding: 5px 36px;
  border:none;
  border-radius: 5px;
}
.home-p21 .p21-l a.shr{
  background-color: #fff;
  border: 2px solid #ff3a58;
  color:#ff3a58;
  font-size: 18px;
  padding: 5px 25px;
  border-radius: 5px;
  margin-left: 30px;
}

.part2{
  background-color: #fff;
  padding: 45px 0 20px;
}
.part2 span{
  content: "";
  width: 10px;
  color:#bffe8a;
}
.part2 h3{
  font-size: 25px;
  color:#333333;
  margin-bottom: 30px;
  font-family: 'Granstander Clean Regular';
  font-weight: 700;
}
.part2 p{
  font-size: 16px;
  color:#333333;
  margin-bottom: 45px;
  width: 75%;
  line-height: 1.6;
}
.part2 .container{
  border-bottom: 1px solid #adbabd;
}

.part3 h2{
  font-size: 25px;
  color: #333333;
  text-align: center;
  font-weight: 700;
  font-family: 'Granstander Clean Regular';
  margin-bottom: 65px;
}






